@model IEnumerable<Pitchme.Models.Implementation.JobSubscription>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.subscriptionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subscriptionExpiration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subscriptionType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subscriptionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subscriptionExpiration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subscriptionType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
